ul.app--message--list
          li
            h3
              | Conversation with 
              a Jill Spore
            ul.app--message--conversation
                each dm in dmSentArray
                    li.app--message--me
                        .app--avatar(style=`background-image: url(${profileImg})`)
                        p.app--message--text= dm.text
                        p.app--message--timestamp= dm.date  
                each dm in dmRecievedArray
                    li.app--message
                        .app--avatar(style=`background-image: url(${dm.profile_image_url})`)
                        p.app--message--text= dm.text
                        p.app--message--timestamp= dm.date  